<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button MicroBiome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class='container'>
    <div class="jumbotron" style="text-align: center">
        <h1>Belly Button Biodiversity</h1>
        <p>What critters could be hiding in your belly button?...</p>
    </div> 

    <!-- Need to make divs named for each of the plots. Then in JS I will build a fxn w/ plotly for each one. --> 
    <div class="row">
        <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <h4>Select a sample</h4>  
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title">Sample MetaData</h4>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="pie"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="bubble"></div>
          </div>
        </div>
    </div>
    
  </div>

<!-- Links to the plotly library and to our JS file to build plots on this page -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/bio.js') }}"></script>

</body>

</html>